#rootNode {
    -fx-background-color: linear-gradient(to right, #3c3b3f, #605c3c);
    -fx-box-shadow: rgba(117, 250, 31, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(3, 25, 47, 0.35) 0px -2px 6px 0px inset;
}
#btnUser{
    -fx-background-color: blue;
}
#txtPaymentId{
    -fx-border-color:2px solid black;
}
#ancho {
    -fx-background-color: linear-gradient(to right, #3c3b3f, #605c3c);
    -fx-box-shadow: rgba(117, 250, 31, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(3, 25, 47, 0.35) 0px -2px 6px 0px inset;
    -fx-text-fill: black;
    -fx-font-family: "sans-serif";
}
#label{
    -fx-font-family: "serif";
    -fx-text-fill: #48A6A7;
    -fx-background-color: white;
    -fx-font-size: 15px;
    -fx-border-color: black;
    -fx-border-style: groove;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
#btn {
    -fx-font-family: "serif";
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(to right, #d9a7c7, #fffcdc);
    -fx-font-size: 15px;
    -fx-border-color: black;
    -fx-border-style: groove;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
#btn:hover{
    -fx-background-color: linear-gradient(to right, #642b73, #c6426e);
}
#tabel{
    -fx-background-color: #eae0c8;
}
#cmb:hover{
    -fx-background-color: #c4aead;
}
